Wsdl/CRM_SIGN_STAMP_MERGE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:sprx:ep:cust:Z" xmlns:n2="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="http://adobe.com/idp/services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:sprx:ep:cust:Z" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns="http://adobe.com/idp/services" xmlns:xi0="http://adobe.com/idp/services" xmlns:xi1="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://adobe.com/idp/services">
      <xsd:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" />
      <xsd:element name="invoke">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" form="qualified" name="inputPDF" type="xi0:BLOB" />
            <xsd:element minOccurs="0" form="qualified" name="inputPNGSign" type="xi0:BLOB" />
            <xsd:element minOccurs="0" form="qualified" name="overlay" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="invokeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="errCode" type="xsd:int" />
            <xsd:element form="qualified" name="errMsg" type="xsd:string" />
            <xsd:element form="qualified" name="outputPDF" type="xi0:BLOB" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BLOB">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="contentType" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="binaryData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" form="qualified" name="attachmentID" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="remoteURL" type="xsd:string" />
          <xsd:element minOccurs="0" form="qualified" name="MTOM" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" form="qualified" name="swaRef" type="xi1:swaRef" />
          <xsd:element minOccurs="0" form="qualified" name="attributes" type="xi0:MyMapOf_xsd_string_To_xsd_anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MyMapOf_xsd_string_To_xsd_anyType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="item" type="xi0:MyMapOf_xsd_string_To_xsd_anyType_Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MyMapOf_xsd_string_To_xsd_anyType_Item">
        <xsd:sequence>
          <xsd:element form="qualified" name="key" nillable="true" type="xsd:string" />
          <xsd:element form="qualified" name="value" nillable="true" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xi0="http://adobe.com/idp/services" xmlns:xi1="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://ws-i.org/profiles/basic/1.1/xsd">
      <xsd:simpleType name="swaRef">
        <xsd:restriction base="xsd:anyURI" />
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="invoke">
    <wsdl:part name="invoke" element="n1:invoke" />
  </wsdl:message>
  <wsdl:message name="invokeResponse">
    <wsdl:part name="invokeResponse" element="n1:invokeResponse" />
  </wsdl:message>
  <wsdl:portType name="CRM_SIGN_STAMP_MERGE">
    <wsdl:operation name="invoke">
      <wsdl:input message="tns:invoke" />
      <wsdl:output message="tns:invokeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRM_SIGN_STAMP_MERGE" type="tns:CRM_SIGN_STAMP_MERGE">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invoke">
      <soap:operation soapAction="urn:sap-com:sprx:ep:cust:Z:CRM_SIGN_STAMP_MERGE:invokeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRM_SIGN_STAMP_MERGE_soap12" type="tns:CRM_SIGN_STAMP_MERGE">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invoke">
      <wsoap12:operation soapAction="urn:sap-com:sprx:ep:cust:Z:CRM_SIGN_STAMP_MERGE:invokeRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRM_SIGN_STAMP_MERGE">
    <wsdl:port name="CRM_SIGN_STAMP_MERGE" binding="tns:CRM_SIGN_STAMP_MERGE">
      <soap:address location="http://lv421075.aci3.rwegroup.cz:8001/sap/bc/srt/xip/sap/zcrm_sign_stamp_merge/100/crm_sign_stamp_merge/crm_sign_stamp_merge" />
    </wsdl:port>
    <wsdl:port name="CRM_SIGN_STAMP_MERGE_soap12" binding="tns:CRM_SIGN_STAMP_MERGE_soap12">
      <wsoap12:address location="http://lv421075.aci3.rwegroup.cz:8001/sap/bc/srt/xip/sap/zcrm_sign_stamp_merge/100/crm_sign_stamp_merge/crm_sign_stamp_merge" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>